@import './JF-flat.css';

body {
    font-family: 'JF Flat Regular', 'Times New Roman', Times, serif;
}
body > .container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
body > .container-fluid > .row:not(:first-child):not(#footer) {
    flex-grow: 1;
}

#carousel-featured {
    background-color: #f7f8f3;
    height: 400px;
    padding-top: 25px;
}
#carousel-featured .item img {
    height: 375px;
}
#carousel-featured .product-details{
    border: 2px solid #dddddb;
    padding: 20px;
    position: relative;
    top: 50px;
    height: 200px;
    background-color: #f7f8f3;
    border-radius: 10px;
}
.sale {
    background-color: #53ccd7;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    position: absolute;
    left: 28px;
    top: 20px;
}
.sale:after {
    content: '-';
}
.sale.large {
    height: 60px;
    width: 60px;
    padding: 35px;
    font-size: 130%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-25deg);
    flex-direction: column;
    line-height: 90%;
    left: -15px;
    top: -15px;
}
.sale.large::after{
    content:"خصم";
    font-size: 75%;
}
#carousel-featured .product-details .category {
    border: 2px solid #dddddb;
    position: absolute;
    top: -15px;
    right: -15px;
    padding: 10px;
    background-color: #f7f8f3;
}
#carousel-featured .product-details h1{
    font-size: 175%;
    font-weight: bold;   
}

.custom-carousel-indicators img{
    border: 2px solid #dddddb;
    background-color: white;
}
#carousel-featured .custom-carousel-indicators {
    right: 69%;
    top: 230px;
}
#carousel-featured .custom-carousel-indicators img.active {
    border-color: #a5a5a4 ;
}
#carousel-featured .custom-carousel-indicators img,
#carousel-featured .custom-carousel-indicators img.active {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}
#carousel-featured .custom-carousel-control.right,
#carousel-featured .custom-carousel-control.left {
    background: transparent;
    color: #c6c9b7;
}
#carousel-featured .custom-carousel-control >i {
    position: absolute;
    top: calc(50% - 20px);
}
#carousel-featured .custom-carousel-control.right >i{
    left: 25%;
}
#carousel-featured .custom-carousel-control.left >i {
    right: 25%;
}
#store-feature {
    box-shadow: 0px 0px 5px 2px #bdbdb6;
    padding-bottom: 35px;
    padding-top: 5px;
    position: relative ;
    top : -35px;
    background-color: white;
    background-image: url(../images/bg_features.png);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: auto 60%;
    background-position: -10px -10px;
}
.border-feature  {
    border-right:2px solid rgb(136, 136, 134)
}

.custom-thumbnail{
    border: 2px solid #dddddb;
    padding: 8px;
    cursor: pointer;
    margin-left: -8px;
    margin-right: -8px;
}
.custom-thumbnail:hover{
    border: 2px solid rgb(83, 204, 215);
    transition-delay:0s;
    transition-duration:0.5s;
    transition-property:border;
    transition-timing-function:ease-in-out;
}
.price {
    color: #07e5f5;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rating {
    color: #c2c2c2;
}
.rating .active {
    color: #f8ad47;
}
.custom-thumbnail img {
    height: 250px;
}
.overlay {
    position: absolute;
    background-color: rgba(83, 204, 215, 0.5);
    height: 250px;
    width: calc(100% - 34px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.5s;
}
.overlay:hover{
    opacity:1;

}

.custom-carousel-indicators >li {
    background-color: #c2c2c2;
    border-radius: 0;

}
.custom-carousel-indicators >li.active {
    background-color: #565656;

}
#carousel-most-sold .custom-carousel-indicators,
#carousel-most-sold-sm .custom-carousel-indicators {
    position: static;
    width: 100%;
    text-align: center;
    margin: 0;
}
.custom-carousel-indicators >li.active,
.custom-carousel-indicators >li {
    height: 13px;
    width: 13px;
    margin: 2px;
}
.feature,
#carousel-most-sold {
    margin-top: 25px;
}
#row-brand .custom-panel {
    border: 4px solid #eef0ea;
    border-radius: 2px;
    box-shadow: 0px 0px 5px 2px #bdbdb6;
    padding: 5px;
}
.custom-panel .carousel {
    margin-left: -15px;
    margin-right: -15px;
}
.custom-panel .product-image {
    width: 100%;
    margin-bottom: 10px;
}
.custom-panel h4,
.custom-panel .price {
    font-size: 130%;
    margin-top: 0px;
    margin-bottom: 5px;
}
.custom-text-muted {
    color: #a9a9a9;
}
.brand-nav {
    margin-top: 10px;
}

.brand-text {
    margin-left: 10px;
    display: inline-block;
    margin-right: 12px;
}
.brand-nav .pull-left {
    height : 27.5px;
    display: flex;
    align-items: center;
}
.custom-header {
    margin-bottom: 20px;
}
#row-brand h3 {
    border-top: 2px solid #eef0ea;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 25px;
}
#brand-logos {
    background-color: #f4f7e8;
    padding: 25px 0px;
}
#brand-logos img {
    margin: 0px 25px;
    max-height: 100px;
    max-width: 100px;
}
#footer-nav {
    background-color: #1f1f1f;
    padding-top: 35px ;
    padding-bottom: 25px;
    color: #575757;
    background-image: url('../images/bg_footer_1.png'), url('../images/bg_footer_2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, -10% -150%;
}

#footer-nav-links a {
    color: inherit;
    margin: 0px 20px 20px 0px;
    font-weight: bold; 
}
#footer-nav-links a,
#footer-copyright-social a {
    transition-property: color;
    transition-duration: 0.4s;
}
#footer-nav-links a:hover,
#footer-copyright-social a:hover {
    text-decoration: none;
    color: rgb(211, 208, 208);

}
#footer-nav>.container> div {
    margin-top: 15px;
    margin-bottom: 15px;
}
#footer-nav form input {
    background-color: #2b2a2a;
    border: none;
    opacity: 0.6;
}

#footer-nav form {
    border-top: 2px solid #2b2a2a;
    padding-top: 25px;
}
#footer-nav form label {
    margin-bottom : 15px;
}
#footer-copyright-social {
    background-color: #151515;
    color: #726d6d;
    padding-bottom: 30px;
    padding-top: 30px;
    font-weight: bold;
}
#footer-copyright-social a{
    margin-right: 5px;
    margin-left: 5px;
    color: inherit;
}
#footer {
    margin-top: 20px;
}
.product-option {
    display: inline-block;
    border: 1px solid #ebebeb;
    text-align: center;
    color: #c2c2c2;
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: large;
    margin: 5px
}

.custom-breadcrumb {
    background-color: transparent;
    padding-top : 25px;
    padding-bottom : 25px;
}
.custom-breadcrumb a{
    color:inherit;
    text-decoration: none;
    transition-property: color;
    transition-duration: .3s;
}
.custom-breadcrumb a:hover {
    color: orange;
}
.custom-breadcrumb>li+li:before {
    content: '>';
    color: rgb(131, 128, 128);
}
#carousel-product-images .item img {
    border: 2px solid #dddddb;
    width: 100%;
    height: 450px;
    margin-bottom: 70px;
}
#carousel-product-images .custom-carousel-indicators-p img.active,
#carousel-product-images .custom-carousel-indicators-p img {
    height: 75px;
    width: 75px;
    position: relative;
    top: -20px;
    background-color: #dddddb;
}
#carousel-product-images .custom-carousel-indicators-p img.active {
    border-color: #727272;
}
.custom-carousel-indicators-p img{
    border: 2px solid #cececc;
}
#form-product-selection h2 {
    font-weight: 700;
}
.price.large {
    font-size: 30px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.border-between > * + * {
    border-top: 1px solid #ebebeb;
    padding-bottom: 15px;
    padding-top: 15px;
}
.product-option input {
    display:none;
}


.product-option.active {
    color: #f8ad47;
    border-color: #f8ad47;
}
.color-option.active {
    border-color: white;
    outline: 1px solid black;
}
.product-option label {
    display: inline-block;
    height: 100%;
    width: 100%;
}
.select-inline {
    display:inline-block;
    width: auto;
}
.custom-label {
    font-weight: normal;
}

.border-between h3{
    width: 250px;
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.custom-media .media-opject {
    height: 80px;
    width: 80px;
    border: 1px solid #ebebeb;
}
.custom-media {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 15px;
}
.custom-table th{
    color: #c2c2c2;
    font-weight: normal;
}
.custom-table th,
.custom-table td {
    padding: 15px;
    font-size:120%;
    vertical-align: middle;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
}
.custom-table th,.custom-table td:not(:first-child){
    text-align: center;
}
.custom-table th:first-child,.custom-table td:first-child {
    width: 50%;
}

.custom-table tfoot td {
    border-bottom: none;
}
.input-lg {
    padding: 0px 10px;
}
.custom-panel .panel-heading {
    background-color:transparent;
 
}
.custom-list-group > .list-group-item {
    border : none;
}
#form-advanced-search .custom-panel {
    border : none;
    margin: 0 -20px;
}
#form-advanced-search {
    border : 1px solid #ebebeb;
}

#form-advanced-search > * + * {
    padding-bottom: 0px;
    padding-top: 0px;
}
.ui-slider {
    background-color: #ebebeb;
    height: 2px;
    border : none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ui-slider .ui-slider-handle {
    height: 12px;
    width: 12px;
    top: -6px;
    border-radius: 50%;
    background-color: #f8ad47;
    border: none;
}
.ui-slider .ui-slider-range {
    background-color: #f8ad47;
    height: 2px;
}

.advanced-search-heading {
    border-bottom: 2px solid #ebebeb;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#search-result h3{
    margin-top: 0px;
}
#map {
    height: 250px;
    margin-bottom: 25px;
}
#contact-info i {
    color: #f8ad47;
    width: 25px;
    margin: 10px;
    text-align: center; 
}
.heading-with-border-bottom {
    border-bottom: 2px solid #ebebeb;
    padding: 20px;
}
#contact-info {
    margin-bottom: 10px;
}
#checkout-car1 {
    margin: 10px;
}
@media (max-width: 767px){
    #carousel-featured, #carousel-featured .product-details{
        height: auto;
    }
    #carousel-featured .item img {
        height: 250px;
    }
    #carousel-featured .product-details {
        position: static;
        text-align: center;
    }
    #store-feature {
        position: static;
        box-shadow: none;
    }
    .custom-thumbnail {
        margin-left: 0px;
        margin-right: 0px;
    }
    #brand-logos img {
        max-height: 50px;
        max-width: 40px;
    }
    #brand-logos .img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}
@media (min-width:767px) and (max-width: 991px) {
    #carousel-featured .custom-carousel-indicators {
        right: 66%;
    }
    .custom-thumbnail img {
        height: 200px;
    }
}
@media (max-width: 991px){
    .overlay {
        display: none;
    }
    #footer-nav {
        background-image: url('../images/bg_footer_1.png');
        background-repeat: no-repeat;
        background-position: 110% 0;
    }
    #social-icons, #copyright {
        width: 100%;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .product-option {
        display: inline-block;
        height: 50px;
        width: 50px;
        margin: 6px;
        line-height: 50px;
        font-size: xx-large;
    }
    #form-advanced-search {
        margin-bottom : 25px;
    }
    #form-advanced-search  * + * {
        border: none;
    }
    #form-advanced-search .ui-slider .ui-slider-handle {
        height: 20px;
        width: 20px;
        top : -10px;
    }
}