.custom-btn {
    color: $button-font-color;
    border: 1px solid lighten($button-font-color, 15%);
    box-shadow:none;
    border-radius: 1px;
    transition-property: background-color, border-color;
    transition-duration: 0.5s;
    &:active,
    &:focus,
    &:active:focus {
        outline: none;
        background-color: white;
    }
}

.overlay .custom-btn {
    color: darken($brand-primary,30%);
    font-weight: bold;
}

@mixin btn-primary($color){
    background-color: transparent;
    color: $color;
    border-color: $color;
    transition-property: background-color, border-color;
    transition-duration: 0.5s;
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        color: darken($color, 25%);
        border-color: darken($color, 25%);
        background-color: transparent;
    }
}

.custom-btn-primary {
    @include btn-primary($brand-primary);
}

.custom-btn-danger {
    @include btn-primary($button-danger);
}

@mixin navbar-button-style($color) {
    background-color: $color;
    border-color: $color;
    color: white;
    transition-property: background-color, border-color;
    transition-duration: 0.5s;
    &:hover,
    &:focus,
    &:active,
    &:active:hover,
    &:active:focus {
        background-color: darken($color, 25%);
        border-color: darken($color, 25%);
        color: white;
    }
}

.custom-navbar .custom-btn-primary {
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
    @include navbar-button-style($brand-primary);
}


.custom-btn-primary2 {
    @include navbar-button-style($brand-primary)
}

#btn-shopping-cart {
    padding: 7px 12px;
    margin-right: 20px;
}

#carousel-featured .product-details .custom-btn-primary {
    padding: 10px 25px;
    margin-top: 15px;
}

.btn-sm {
    border: none;
    box-shadow: 1px 1px 2px 0px $brand-primary;
    &:focus,
    &:active,
    &:focus:active {
        outline-color: $brand-primary;
    }

}
.custom-btn-icon {
    padding-top:15px;
    padding-bottom: 15px;
    min-width: 250px;
}


#form-checkout button[type='submit']{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 15px;
}
#form-advanced-search button {
    margin-bottom: 20px;
    margin-top: 20px;
}
