#search-pagination {
    text-align: center;
    width: 100%;
}
.custom-pagination>li>a {
    margin-right:3px;    
    margin-left:3px;
    width: 32px;
    height : 32px;
    color: #c2c2c2;
    border:1px solid #ebebeb;
    transition-property: color, border-color;
    transition-duration: 0.5s;
    &.active {
        background-color: $brand-primary;
        color: white;
        border-color: $brand-primary;
    }
    &:active,
    &:focus,
    &:hover {
        border-color: darken($brand-primary, 20%);
        color: darken($brand-primary, 20%);
    }
}
.custom-pagination>li:first-child>a,
.custom-pagination>li:last-child>a{
    border-radius: 0;
}
